.gxaTableGrid {
    color: #404040;
    background-color: white;
    border: 1px solid #cdcdcd !important;
    border-spacing: 0;
    empty-cells: show;
    height: 100%;
    text-align: left;
    width: auto;
    border-collapse: collapse;
}

.gxaTableGrid>tbody>tr>td, .gxaTableGrid>thead>tr>td {
    color: #3D3D3D;
    vertical-align: middle;
    border: 1px solid #cdcdcd !important;
    height: 25px;
    width: 25px;
    white-space: nowrap;
}

.gxaHeaderCell {
    background-color: rgb(237, 246, 246) !important;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

/* needed for span inside header-cell that is added by React */
.gxaHeaderCell span {
    font-weight: bold;
}

.gxaHeaderCell:hover {
    background-color: #deebeb !important;
    cursor: pointer;
    *cursor: hand;
}

.gxaHelpTooltip, .gxaContrastTooltip {
    background: #fafafa;
    border: 1px solid #2777A5 !important;
    padding: 4px;
    max-width: 400px !important;
    color: #2777A5;
    border-radius: 4px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    box-shadow: 0 0 7px gray;
}

.gxaHelpTooltip .ui-button {
    border-bottom: 1px solid #cccccc !important;
}

.gxaHelpTooltip .ui-button:hover, .gxaWebpackHelpTooltip .ui-button:active {
    border: 1px solid #fbd850 !important;
}

/* JQuery UI overrides: end */

/****  STYLING FOR BUTTONS IN GENE SET TYPE ANALYSIS PLOTS *****/

.gxaHelpTooltip #reactomeButtonID.tool-item:last-child {
    border-bottom: 1px;
}

/**** END ANALYSIS PLOTS STYLING **/

/* help tooltip */
.gxaHelpTooltip a.help-icon {
    color: rgb(255, 82, 0) !important;
    vertical-align: top;
    font-size: 10px !important;
    font-weight: bold !important;
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
    background: rgba(250, 250, 202, 0.28);
}

a.help-icon {
    color: rgb(255, 82, 0) !important;
    vertical-align: top;
    font-size: 10px !important;
    font-weight: bold !important;
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
    background: rgba(250, 250, 202, 0.28);
}

.gxaPValueTooltipStyling {
    padding: 2px !important;
    margin: 0 !important;
}

.gxaShowCell {
    background-color: white;
    margin: 4px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.gxaHideCell {
    display: none;
    visibility: hidden;
}

/* Custom style for jquery-toolbar */

.tool-container {
    box-shadow: 0 0 2px grey;
}

.btn-toolbar-white {
    background-color: #b2c6cd;
}
.btn-toolbar-white.pressed {
    background-color: #d6e1e5;
}
.btn-toolbar-white:hover {
    background-color: #d6e1e5;
}
.btn-toolbar-white > i {
    color: white;
}

.toolbar-white {
    background-color: whitesmoke;
}
.toolbar-white.tool-top .arrow {
    border-color: #b2c6cd transparent transparent;
}
.toolbar-white.tool-bottom .arrow {
    border-color: transparent transparent #b2c6cd;
}
.toolbar-white.tool-left .arrow {
    border-color: transparent transparent transparent #b2c6cd;
}
.toolbar-white.tool-right .arrow {
    border-color: transparent lightgrey transparent transparent;
}
.toolbar-white .tool-item > .fa {
    color: white;
}
.toolbar-white .tool-item.selected,
.toolbar-white .tool-item:hover {
    background: lightgoldenrodyellow;
    color: white;
}